body {
  background-color: #FF6262;
}

h1 {
  color: white;
}

p {
  font-size: 5vw;
  font-family: sans-serif;
  color: #ff3d43;
  text-shadow: 2px 2px #8c1c1c;
}

#timeLabel {
  width: 60%;
  background-color: #ff7e7a;
  margin-top: -.2em;
  margin-bottom: 1vw;
  text-shadow: 2px 2px #8c1c1c;
}

#rep-set-grid {
  display: grid;
  margin-top: -4vw;
  grid-template-columns: auto auto;
  width: 60%;
}

#repCount {
  background-color: #ff7e7a;
  padding-bottom: .25em;
}

#setLabel {
  background-color: #ff7e7a;
}

button {
  font-size: 3em;
  border: solid #ff7e7a;
  border-radius: 50%;
  padding: .75em;
  line-height: 2.75em;
  width: 5em;
  background-color: #ff3d43;
  color: #8c1c1c;
  margin-top: -1em;
}

button:focus {
  outline: none;
}

form {
  font-size: 2em;
  font-family: sans-serif;
  color: white;
  display: inline-block;
  text-align: left;
}

form > input {
  background-color: white;
  height: 1em;
  width: 4em;
  font-size: .9em;
}

#goalSets {
  margin-left: 4em;
}

#goalReps {
  margin-left: 5.21em;
}
