/*
COLORS:

dark blue: #003E60
green: #1EE6A3
light blue: #5FA8D3
special gradient blue: #529DF2

*/
:root {
    --link-color: #003E60;
    --header-color: #003E60;
    --body-color: #222;
    --bg-color: #fff;
}

@font-face {
    font-family: 'Amiko-Regular';
    src: url('./fonts/Amiko-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/Amiko-Regular.woff') format('woff'), url('./fonts/Amiko-Regular.ttf') format('truetype'), url('./fonts/Amiko-Regular.svg#Amiko-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MomcakeBold';
    src: url('./fonts/MomcakeBold.woff2') format('woff2'), url('./fonts/MomcakeBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Amiko-Regular' !important;
    color: var(--body-color);
    background-color: var(--bg-color);
}

main, footer {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h2 {
    font-size: 2.5em;
    margin-top: 1.5em;
    color: var(--header-color);
}

.centered {
    text-align: center;
    align-content: center;
    margin: auto;
}

.desktop-nav {
    margin-top: 2em;
}

.mobile-nav {
    display: none;
    margin: 0;
}

nav {
    text-align: right;
    margin-top: auto;
    width: 100%;
}

nav a {
    color: var(--link-color);
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    padding-right: 1.1em;
    padding-left: 1em;
    font-size: 1.7em;
    border-right: #1B4965 .1em solid;
}

.last-nav {
    padding: none;
    border: none;
}

.mobile-nav-arrow {
    display: none;
}

.mobile-nav a {
    margin-right: 0;
    border: none;
    padding: none;
}

.theme-toggle {
    background: #6c6c6c;
    border: none;
    padding: .45rem;
    border-radius: 2em;
    margin-top: 2.5em;
    color: var(--bg-color);
    height: fit-content;
    width: fit-content;
}

.theme-toggle:hover {
    background: #939393;
}

header {
    display: grid;
    grid-template-columns: auto auto 7em;
    margin-bottom: .25em;
}

header p {
    margin: 0;
    margin-left: 1.55em;
    color: var(--header-color);
}

header h1 {
    margin: 0;
    margin-left: .25em;
    background: linear-gradient(#1EE6A3, #529DF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    font-family: 'MomcakeBold';
    font-weight: 100;
    line-height: 100%;
}

.mobile-header-img {
    display: none;
}

.splash-container {
    background: url('../images/borealis.webp') top center fixed;
    width: 100%;
    text-align: right;
    margin: 0;
    height: 35em;
    background-size: 100% 41em;
}

.splash-container * {
    margin: 0;
    padding: 0;
    color: white;
}

.splash-text {
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    margin-top: 7%;
    margin-left: 10%;
    width: 50%;
    text-align: left;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 0 10px black;
    font-size: 1.1rem;
}

.splash-text * {
    color: #fff;
}

.splash-text a {
    text-decoration: underline;
    text-decoration-color: #1EE6A3;
}

.splash-text a:hover {
    text-decoration: none;
    background: #1EE6A3;
    transition: .3s;
    color: #003E60
}

.splash-portrait {
    margin-right: 11%;
    pointer-events: none;
    float: right;
    width: 24em;
    margin-top: 5em;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.default-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

.skills-logos {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin: auto;
    max-width: 50%;
}

.skills-logos div {
    margin-bottom: 1rem;
}

.skill-imgs {
    width: 6.6em;
    text-align: center;
}

.certifications {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.certifications a {
    width: 20em;
    margin: 1em;
}

.certifications img {
    width: 20em;
}

.hidden-certs {
    display: none;
}

#moreCerts {
    border: none;
    background: none;
    font-size: 1.2em;
    padding-left: .5em;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .33em;
    color: var(--body-color);
    cursor: pointer;
}


#showMore {
    border: none;
    background: none;
    font-size: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .33em;
    padding-bottom: .33em;
    color: #1B4965;
    cursor: pointer;
}

.hidden-projects {
    display: none;
}

.projects a {
    font-size: 1.4em;
    background: linear-gradient(#1EE6A3, #529DF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects a h3 {
    display: inline;
}

.projects a h3 img:nth-last-child(1) {
    margin-right: .25em;
}

.projects p {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.projects p a {
    font-size: 1em;
    background: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: #1EE6A3;
    margin-bottom: 4em;
}

.projects p a:hover {
    text-decoration: none;
    background: #1EE6A3;
    transition: .3s;
}

.project-icons {
    width: 1.3rem;
}

.contact-div {
    margin-left: 32%;
    margin-right: 32%;
}

.contact-div a {
    font-weight: bold;
    color: var(--link-color);
}

.socials-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.625em;
    padding: 0.625em;
    font-size: 1.2em;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1rem;
}

.socials-grid div a {
    text-decoration: none;
    border-bottom: none;
    transition: .5s;
    font-weight: normal;
}

.socials-grid div a img {
    width: 2.3em;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: .8em;
}


@media screen and (max-width: 1600px) {
    .splash-portrait {
        margin-right: 6%;
    }
}

/* MOBILE */

@media screen and (max-width: 1360px) {
    .splash-portrait {
        display: none;
        margin: 0;
    }

    .splash-text {
        border-radius: 0;
        float: none;
        margin: auto;
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        width: 90%;
        box-shadow: none;
        text-shadow: 2px 2px #000;
        background: none;
    }

    .splash-container {
        height: auto;
        background-size: cover;
        background-position: top left;
    }

    .mobile-header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10em;
        border-radius: 50%;
        margin-bottom: 1.5em;
        margin-top: 1.1em;
        box-shadow: 0 0 10px black;
    }

    .skills-logos {
        max-width: 65%;
    }
}

@media screen and (max-width: 1399px) {
    header {
        display: block;
    }

    header p {
        margin-top: -1.1em;
    }

    header h1 {
        font-size: 5em;
        text-align: center;
        margin: 0;
    }

    .desktop-nav {
        display: none;
    }

    nav a {
        line-height: 1.35em;
    }

    .mobile-nav-arrow {
        margin-top: .5em;
        margin-bottom: .25em;
        display: block;
        color: #5FA8D3;
        font-size: 1.25em;
    }

    .mobile-nav {
        margin-top: 1em;
        line-height: 1.7em;
    }

    .theme-toggle {
        display: flex;
        margin: auto;
        align-content: center;
        margin-bottom: .25em;
        justify-content: center;
        width: 10em;
    }

    .default-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-div {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (max-width: 968px) {
    .certifications {
        width: 100%;
    }

    .certifications a {
        width: 40vw;
        margin: 0;
    }

    .certifications img {
        width: 35vw;
        margin: 0;
    }

    .skills-logos {
        max-width: 85%;
    }
}

@media screen and (max-width: 720px) {

    /* .skills-logos {
        grid-template-columns: auto auto auto;
        row-gap: 1em;
    }
    .skills-logos div {
        display: none;
    } */
    .socials-grid {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 650px) {
    .left-align-mobile {
        text-align: left !important;
    }

    .certifications {
        width: 100%;
    }

    .certifications a {
        width: 50%;
        margin: 0;
    }

    .certifications img {
        width: 45vw;
        margin: 0;
    }
}

@media screen and (max-width: 580px) {
    .skill-imgs {
        width: 4.2em;
    }
}

/* END MOBILE */