/* Mobile */

@media screen and (max-width: 480px) {
  #name-title {
    font-size: 2.5em !important;
    font-family: sans-serif;
    font-weight: bold;
  }
  #title-and-subtitle-div {
    background: white;
    width: 55%;
  }
  .navbox {
    grid-gap: .5em;
    padding: 8px !important;
    width: 90vw !important;
    margin-top: 1em;
    border-style: outset;
    background: white;
  }
  .navbox>div>a {
    text-decoration: none;
    border-right: 2px solid #8e8e8e;
    font-size: .83em;
  }
}

@media screen and (max-width: 650px) {
  p {
    font-size: 1.05em;
  }
  #body-div {
    margin-left: 4% !important;
    margin-right: 4% !important;
  }
  .img {
    border: 2px solid black;
    width: 100%;
    margin-bottom: 10px;
  }
  img {
    width: 155%;
  }
  .port-images {
    text-align: center;
  }
  h1 {
    font-size: 3em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  .socials-grid {
    display: block !important;
    font-size: 1em;
  }
}

/* End Mobile */

.head {
  width: 100%;
  background-color: #373737;
  color: white;
  top: 0;
  position: fixed;
  font-family: Ubuntu;
  padding-top: 15px;
  z-index: 2000;
}

body {
  font-family: Verdana;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#title-img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 10em;
  border-radius: 50%;
  margin-bottom: 1em;
}

#title-and-subtitle-div {
  background: white;
  width: 55%;
}

#name-title {
  font-family: sans-serif;
  font-weight: bold;
}

hr {
  background-color: #cccdce;
  border-radius: 70%;
  border: none;
  color: #cccdce;
  height: .125em;
}

.progress-bar-percent {
  float: right;
  user-select: none;
}

.progress-bar-titles {
  float: left;
  user-select: none;
}

.progress-bars {
  background: #31b52f;
  height: 10px;
  margin-top: 2em;
}

.img {
  border: 2px solid black;
}

img {
  width: 35%;
}

.port-images {
  text-align: center;
}

.button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none;
  font: menu;
  color: ButtonText;
  display: inline-block;
  padding: 2px 8px;
  background-color: white;
  position: absolute;
  top: 0px;
}

h1 {
  user-select: none;
  font-size: 65px;
}

h2 {
  user-select: none;
  font-size: 40px;
}

h3 {
  user-select: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: #8e8e8e;
  text-decoration: underline;
}

.socials-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  font-size: 1.2em;
}

.socials-grid>div>a {
  color: #38a5ff;
  text-decoration: none;
}

.socials-grid>div>a:hover {
  text-decoration: underline;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

.navbox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em;
  padding: 10px;
  width: 28em;
  margin-top: 1em;
  border-style: outset;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.navbox>div>a {
  text-decoration: none;
  padding-right: 1em;
  border-right: 2px solid #8e8e8e;
}

#body-div {
  margin-left: 15%;
  margin-right: 15%;
}

.f {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background-color: #373737;
  color: white;
  text-align: center;
}

/* Begin animation CSS */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* End animation CSS */
