.head {
  width: 100%;
  background-color: #373737;
  color: white;
  top: 0;
  position: fixed;
  font-family: Ubuntu;
  padding-top: 0.938em;
  z-index: 2000;
}
body {
  font-family: Verdana, sans-serif;
}
p {
  color: #5b5b5b;
}
header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#title-img {
  user-drag: none;
  user-select: none;
  width: 13em;
  border-radius: 50%;
  margin-bottom: 1em;
  border: double 0.5em black;
}
#title-and-subtitle-div {
  background: white;
  width: 55%;
}
#header-tagline {
  font-size: 2.5em;
}
#name-title {
  font-family: sans-serif;
  font-weight: bold;
  color: #3d3d3d;
}
hr {
  background-color: #cccdce;
  border-radius: 70%;
  border: none;
  color: #cccdce;
  height: .125em;
}
.skill-imgs {
  width: 6.6em;
}
.skill-imgs-smaller {
  width: 4.6em;
}
.progress-bar-percent {
  float: right;
  user-select: none;
}
.progress-bar-titles {
  float: left;
  user-select: none;
}
.progress-bars {
  background: #fc3f3f;
  height: 0.625em;
  margin-top: 2em;
}
.img {
  border: 0.125em solid black;
  opacity: 0.9;
}
.img:hover {
  opacity: 1.0;
}
img {
  width: 35%;
}
.port-images {
  text-align: center;
}
.port-images img {
  margin-bottom: 0.3em;
}
h1 {
  user-select: none;
  font-size: 4em;
}
h2 {
  user-select: none;
  font-size: 2.5em;
}
h3 {
  user-select: none;
}
a:hover {
  text-decoration: none;
  color: #b20011;
}
a {
  color: red;
  text-decoration: none;
  border-bottom: 0.083em dashed;
}
.socials-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.625em;
  padding: 0.625em;
  font-size: 1.2em;
  text-align: center;
}
.socials-grid>div>a {
  color: red;
  text-decoration: none;
  border-bottom: none;
}
.socials-grid>div>a:hover {
  text-decoration: underline;
}
.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.063em solid black;
  text-align: center;
  font-size: 1.875em;
}
nav {
  margin-top: 1em;
  background: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
nav>a {
  text-decoration: none;
  border-bottom: none;
  font-size: 1.2em;
  margin-right: 1em;
  color: black;
  font-weight: bold;
}
nav>a:hover {
  color: #b20011;
}
main {
  margin-left: 15%;
  margin-right: 15%;
}
#contact-div {
  margin-left: 20%;
  margin-right: 20%;
}
footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
}

/* FADE-IN ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.fade-in.one {
  animation-delay: 0.1s;
}
/* END ANIMATION */

/* MOBILE */
@media screen and (max-width: 650px) {
  p {
    font-size: 1.05em;
  }
  main {
    margin-left: 4% !important;
    margin-right: 4% !important;
  }
  .img {
    border: 0.125em solid black;
    width: 100%;
    margin-bottom: 0.625em;
  }
  img {
    width: 155%;
  }
  .port-images {
    text-align: center;
  }
  .skill-imgs {
    width: 3.9em;
  }
  .skill-imgs-smaller {
    width: 2.9em;
  }
  h1 {
    font-size: 3em !important;
  }
  #header-tagline {
    font-size: 1.7em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  .socials-grid {
    display: block !important;
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  #name-title {
    font-size: 3em !important;
  }
  nav {
    margin-top: 1em;
  }
  nav>a {
    text-decoration: none;
    font-size: 1em;
  }
}
/* END MOBILE */
