
@font-face {
  font-family: 'Amiko-Regular';
  src: url('Amiko-Regular.eot?#iefix') format('embedded-opentype'),  url('Amiko-Regular.woff') format('woff'), url('Amiko-Regular.ttf')  format('truetype'), url('Amiko-Regular.svg#Amiko-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
